// fonts
%title-fonts {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

%desc-fonts {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

//color
$btn:#E4262A;
$btn-hover:#eb5557;
$text:#303030;